In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.special import binom
from scipy.stats import ttest_ind_from_stats
import pandas as pd
import math
import pickle
import seaborn

## Laborator: exerciţii şi probleme

__Q1__. $\bar{X}$ şi $\bar{Y}$ sunt calculate ca medii ale $n$ variabile aleatoare iid provenind din distribuţiile cu medii $\mu_x$ şi respectiv $\mu_y$, însă având aceeaşi dispersie $\sigma^2$. Care este dispersia (variance) pentru variabila aleatoare $\bar{X} - \bar{Y}$ ?

In [2]:
print("R Q1.")

R Q1.

$Var[X_i - Y_i] = E[(X_i - Y_i)^2] - E^2[X_i - Y_i]$
<br><br>

$Var[X_i - Y_i] = E[(X_i^2 - 2 X_i Y_i + Y_i^2)] - (E[X_i - Y_i])^2$
<br><br>

$Var[X_i - Y_i] = E[X_i^2] - 2E[2 X_i Y_i] + E[Y_i^2] - (E[X_i] - E[Y_i])^2$
<br><br>

$Var[X_i - Y_i] = E[X_i^2] - 2E[X_i][Y_i] + E[Y_i^2] - (E^2[X_i] - 2E[X_i]E[Y_i] + E^2[Y_i])$
<br><br>

$Var[X_i - Y_i] = E[X_i^2] + E[Y_i^2] - E^2[X_i] - E^2[Y_i]$
<br><br>

$Var[X_i - Y_i] = Var[X_i] + Var[Y_i]$

In [3]:
print("R Q1.")

R Q1.

$Var[\bar{X}-\bar{Y}] = Var[\frac{X_1 + X_2 + ... + X_n}{n} - \frac{Y_1 + Y_2 + ... + Y_n}{n}]$
<br><br>

$Var[\bar{X}-\bar{Y}] = \frac{1}{n^2}(Var[X_1 - Y_1] + Var[X_2 - Y_2] + ... + Var[X_n - Y_n])$
<br><br>

$Var[\bar{X}-\bar{Y}] = \frac{1}{n^2}\sum_{i=1}^{n}(Var[X_i] + Var[Y_i])$
<br><br>

$Var[\bar{X}-\bar{Y}] = \frac{1}{n^2}(\sum_{i=1}^{n} 2\sigma^2)$
<br><br>

$Var[\bar{X}-\bar{Y}] = \frac{1}{n^2}2n\sigma^2$
<br><br>

$Var[\bar{X}-\bar{Y}] = \frac{2\sigma^2}{n}$

 __Q2__. O variabilă aleatoare ia valoarea -4 cu probabilitatea .2 şi respectiv valoarea 1 cu probabilitatea 0.8. Care sunt media şi dispersia acestei variabile aleatoare?

In [4]:
#weighted mean = expected value

mean = -4 * 0.2 + 1 * 0.8
print("R. mean:", mean)

var = (-4 - mean)**2 * 0.2 + (1 - mean)**2 * 0.8
print("R Q2. var:", var)

R. mean: 0.0
R Q2. var: 4.0

__Q3__. Considerăm următoarea PMF pentru o variabilă aleatoare:
<br>p = \[.1, .2, .3, .4\]
<br>x = range(2 : 6)

Care este dispersia variabilei aleatoare?

In [5]:
p = [.1, .2, .3, .4]
x = range(2, 6)

mean = 0 #the sum of all expected values (value * probability)
s = 0 #the sum of all squared expected values (value^2 * probability)

for i in range(len(x)):
    mean += x[i] * p[i]
    s += (x[i]**2) * p[i]
    
mean_squared = mean**2
var = s - mean_squared
    
print("mean:", mean)
print("mean_squared:", mean_squared)
print("squared expected values:", s)
print("R Q3. variance:", var)

mean: 4.0
mean_squared: 16.0
squared expected values: 17.0
R Q3. variance: 1.0

__Q4__. Presupunem că numărul de accesări web pentru un anume site are o distribuţie aproximativ normală de medie 100 de accesări pe zi şi deviaţie standard 10 accesări pe zi. Care este probabilitatea ca într-o zi să avem mai puţin de 93 accesări, exprimată ca procent?

In [6]:
#calculam z-score pentru x

x = 93
mu = 100
sd = 10

z_score = (x-mu)/sd
print("z_score:", z_score)

cdf = stats.norm.cdf(z_score) * 100
print(f"probabilitatea = {round(cdf, 4)} %")

p = stats.norm.cdf(x, loc=mu, scale=sd)
p = p * 100

print(f"R Q4. p: {round(p, 2)} %")

z_score: -0.7
probabilitatea = 24.1964 %
R Q4. p: 24.2 %

__Q5__. Aveţi un prieten care pretinde că poate discerne un vin bun de unul ieftin doar după gust. Deoarece nu îl credeţi, decideţi să-l supuneţi unui test. Presupunând că aveţi dreptate, într-un test dublu orb unde randomizaţi 6 perechi de varietăţi (Merlot, Sauvignon, ...) de vin ieftin şi respectiv vin scump. Care este şansa ca el să ghicească, la întâmplare, 5 sau 6 corect?

In [7]:
#se aduna probabilitatiele pentru 5, respectiv 6 vinuri clasificate corect
# 1 = 6 - 5 pt. cdf

p = 0.5

p_5 = binom(6, 5) * p**6
p_6 = binom(6, 6) * p**6
b = p_5 + p_6
print(f"R Q5. probabilitatea (binom) = {round(b, 6)}")

cdf = stats.binom.cdf(1, n=6, p=p)
print(f"R Q5. probabilitatea (cdf) = {round(cdf, 6)}")

R Q5. probabilitatea (binom) = 0.109375
R Q5. probabilitatea (cdf) = 0.109375

__Q6__. Numărul de accesări web este distribuit Poisson cu o medie de 16.5 accesări zilnice. Care este probabilitatea de a obţine 20 sau mai puţine în 2 zile?

In [8]:
#se calculeaza P(X <= x), cu lambda = 16.5 si x = 20

x = 20
mu = 16.5

p = stats.poisson.cdf(x, mu=mu*2)

print(f"R Q6. p: {round(p, 4)} %")

R Q6. p: 0.0105 %

__Q7__. Considerăm dataset-ul father.son. Folosind CLT şi presupunând că taţii sunt un sample random din populaţie, care este intervalul de confidenţă 95% pentru media înălţimii lor?

In [9]:
father_son = pd.read_csv('father_son.csv',sep=',')
father_son.head()

   Unnamed: 0   fheight   sheight
0           1  65.04851  59.77827
1           2  63.25094  63.21404
2           3  64.95532  63.34242
3           4  65.75250  62.79238
4           5  61.13723  64.28113

In [10]:
x = father_son['fheight'].values

mean = np.mean(x)
std = np.std(x)
n = len(x)
print("mean:", mean)
print("std:", std)

percentila = stats.norm.ppf(0.975)
i = (mean + np.array([-1, 1]) * percentila * std / np.sqrt(n))

print(f"R Q7. intervalul de confidenta 95%: {i}")

mean: 67.68709686456401
std: 2.743594987591043
R Q7. intervalul de confidenta 95%: [67.52331768 67.85087605]

__Q8__. Considerăm o distribuţie uniformă. Extragem 100 de valori din această distribuţie uniformă cu medie 0.5 şi dispersie 1/12 şi calculăm media lor $\bar{X}$. Care este probabilitatea de a obţine o medie mai mare sau egală cu 0.51?

In [11]:
#mai mic sau egal inseamna stats.norm.cdf()
#mai mare sau egal inseamna 1 - stats.norm.cdf()

x = 0.51
mu = 0.5
var = 1/12
n = 100

p = 1 - stats.norm.cdf(x, loc=mu, scale=np.sqrt(var / n))

print(f"R Q8. p: {round(p, 4)} %")

R Q8. p: 0.3645 %

__Q9__. Rata de accesări a unui site web este de 10 pe minut, monitorizată timp de o oră. Care este intervalul de confidenţă Poisson a ratei de evenimente pe minut?

In [12]:
# sample mean (+/-)*1.96 * radical(sample mean), unde 1.96 este intervalul de confidenta 95%

x = 600 #accesari in 60 de minute
t = 60 #60 de minute de monitorizare
_lambda = x / t #media evenimentelor
print(f"media:", _lambda)

i = np.array(stats.poisson.interval(0.95, mu=x)) #interval pe ora
i = i/60 #interval pe minut
print(f"R Q9. intervalul de confidenta: {i[0], i[1]}")

media: 10.0
R Q9. intervalul de confidenta: (9.2, 10.8)

__Q10__. Considerăm datasetul mtcars. Construiţi intervalul T de confidenţă 95% pentru MPG (miles per gallon) comparând maşinile cu 4 respectiv 6 cilindri (diferenţa: setul 4 - setul 6), presupunând aceeaşi dispersie în cele două grupuri.

Observând intervalul de confidenţă, ce concluzionaţi cu privire la consum?

In [13]:
mtcars = pd.read_csv('mtcars.csv')
mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [14]:
mtcars_4cyl = mtcars.get(mtcars.cyl==4)
mtcars_6cyl = mtcars.get(mtcars.cyl==6)

In [15]:
mtcars_4cyl

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [16]:
mtcars_6cyl

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6

In [17]:
car_4cyl = mtcars_4cyl.mpg.values
car_6cyl = mtcars_6cyl.mpg.values

mean_4 = np.mean(car_4cyl)
mean_6 = np.mean(car_6cyl)

std_4 = np.std(car_4cyl)
std_6 = np.std(car_6cyl)

n_4 = len(car_4cyl)
n_6 = len(car_6cyl)

dif = n_4 + n_6 - 2
print(f'dif: {dif}')

sp_4 = (n_4 - 1) * std_4**2
sp_6 = (n_6 - 1) * std_6**2

sp = np.sqrt((sp_4 + sp_6)/(dif))
print(f'sp: {sp}')

percentila = 0.975
s, d = mean_4 - mean_6 + np.array([-1,1]) * stats.t.ppf(percentila, df=dif) * sp * (1/n_4 + 1/n_6)**0.5
s = round(s, 6)
d = round(d, 6)

print(f'R Q10. intervalul T de confidenta 95%: {s, d}')
print(f'R Q10. suntem 95% siguri ca in intervalul ({s}, {d}) se afla media populatiei a consumului, calculat in miles per gallon')

dif: 16
sp: 3.497874267122592
R Q10. intervalul T de confidenta 95%: (3.335594, 10.505964)
R Q10. suntem 95% siguri ca in intervalul (3.335594, 10.505964) se afla media populatiei a consumului, calculat in miles per gallon

__Q11__. Considerăm din nou datasetul mtcars. Folosiţi un two group T test pentru a testa ipoteza că cele două grupuri de maşini cu 4 respectiv 6 cilindri au acelaşi consum MPG. Folosiţi un test two sided cu dispersii diferite. Daţi P-value pentru acest two sided test.

In [18]:
car_4cyl = mtcars.get(mtcars.cyl==4).mpg.values
car_6cyl = mtcars.get(mtcars.cyl==6).mpg.values

mean_4 = np.mean(car_4cyl)
mean_6 = np.mean(car_6cyl)

std_4 = np.std(car_4cyl)
std_6 = np.std(car_6cyl)

n_4 = len(car_4cyl)
n_6 = len(car_6cyl)

In [19]:
test, pv = ttest_ind_from_stats(mean_4,
                                std_4,
                                n_4,
                                mean_6,
                                std_6,
                                n_6,
                                equal_var=False)

print(f"R Q11. two group T test: {test}")
print(f"R Q11. P-value: {pv}")

R Q11. two group T test: 4.9693566771643605
R Q11. P-value: 0.0002680027582341029

__Q12__. Un site web a fost monitorizat pentru un an şi a primit 520 vizite pe zi. În primele 30 de zile ale anului următor, site-ul a primit 15800 vizite. Presupunând că vizitele au o distribuţie Poisson, daţi P-value pentru testul one sided pentru ipoteza că vizitele au sporit faţă de anul trecut. Este rejectată $H_0$? Verificaţi concluzia, calculînd şi intervalul de confidenţă.

In [20]:
vizite = 520 #vizite pe zi
x = 15800 #vizite in 30 de zile
t = 30 #30 de zile de monitorizare
_lambda = int(x / t) #media vizitelor in anul urmator
mu = vizite * t

pv = 1 - stats.poisson.cdf(x, mu=mu)
print(f"P-value asociat valorii {_lambda}: {pv}")
print("P-value este peste 5%.")

i = np.array(stats.poisson.interval(0.95, mu=vizite))
print(f"R Q12. intervalul de confidenta pe zi: {i[0], i[1]}")

print("R Q12. 526 este in intervalul de confidenta, deci previzibil.")

rate = int(i[0]) #476
#verificare: daca 476 este valoarea ratei,
#sub aceasta rata trebuie sa gasim 2.5% din masa distributiei
print(f"R Q12. masa distributiei sub {rate}: {stats.poisson.cdf(rate, mu=vizite)}")

i = np.array(stats.poisson.interval(0.95, mu=mu))
print(f"R Q12. intervalul de confidenta pe an: {i[0], i[1]}")

P-value asociat valorii 526: 0.05444570245126146
P-value este peste 5%.
R Q12. intervalul de confidenta pe zi: (476.0, 565.0)
R Q12. 526 este in intervalul de confidenta, deci previzibil.
R Q12. masa distributiei sub 476: 0.02694290168304104
R Q12. intervalul de confidenta pe an: (15356.0, 15845.0)

__Q13__. Presupunem că facem un test randomizat, dublu orb, cu 18 subiecţi obezi. 9 dintre ei primesc o pastilă de slăbit iar 9 primesc placebo. Indicele de masă corporală (BMI, Body Mass Index) a fost măsurat ca baseline şi apoi în timpul tratamentului, pentru 4 săptămâni. Diferenţa faţă de baseline (followup - baseline) a fost 3 $kg/m^2$ pentru grupul tratat şi 1 $kg/m^2$ pentru grupul placebo. Deviaţiile standard ale diferenţelor au fost de 1.5 $kg/m^2$ pentru grupul tratat şi 1.8 $kg/m^2$ pentru grupul placebo. Studiul doreşte să afle dacă schimbarea BMI după 4 saptămâni este diferită între grupul tratat şi grupul placebo. 

Calculaţi pooled variance şi realizaţi intervalul de confidenţă. Realizaţi apoi two sided test, verificând ipoteza nulă că mediile între grupuri nu diferă. Porniţi de la definirea $H_0$ şi $H_a$ şi calculaţi statistica T pentru intervalul 95%, în două feluri ca să vă verificaţi. Calculaţi şi P-value. Ce concluzie trageţi?

In [21]:
x_1, std_1, n_1 = 3, 1.5, 9
x_2, std_2, n_2 = 1, 1.8, 9
r = 8

df = ((std_1**2) / n_1 + (std_2**2) / n_2)**2 / \
     ((std_1**2 / n_1) ** 2 / (n_1 - 1) + (std_2 ** 2 / n_2) ** 2 / (n_2 - 1))
print("df:", round(df, r))

statistic, pv = stats.ttest_ind_from_stats(x_1, std_1, n_1, x_2, std_2, n_2, equal_var=True)
print("statistic:", round(statistic, r))
print("P-value:", round(pv, r))

percentila = stats.t.ppf(0.95, df=df)
print("percentila 95%:", round(percentila, r))

sp = np.sqrt(std_1**2 / n_1 + std_2**2 / n_2)

if statistic > percentila:
    print(f"{round(statistic, r)} > {round(percentila, r)}: True => ", end="")
    print("reject H_0")
else:
    print(f"{round(statistic, r)} > {round(percentila, r)}: False => ", end="")
    print("fail to reject H_0")
    
dif = x_1 - x_2

print(f"R Q13. intervalul de confidenta T: {dif + np.array([-1,1]) * stats.t.ppf(0.975, df=df) * sp}")
print(f"R Q13. intervalul de confidenta T: {stats.t.interval(0.95, loc=dif, scale=sp, df=df)}")
print(f"R Q13. respingem ipoteza nula.")

df: 15.49609578
statistic: 2.5607376
P-value: 0.02094338
percentila 95%: 1.74937235
2.5607376 > 1.74937235: True => reject H_0
R Q13. intervalul de confidenta T: [0.33991449 3.66008551]
R Q13. intervalul de confidenta T: (0.3399144923226771, 3.660085507677323)
R Q13. respingem ipoteza nula.

__Q14.__ Aveţi o monedă şi suspectaţi că este biased, că dă mai multe Heads decât Tails. Obţineţi 55 Heads din 100 de aruncări. Daţi valoarea exactă P-value pentru ipoteza ca moneda să fie non-biased (fair). Câte aruncări din 100 trebuie să iasă Heads ca să începeţi să aveţi suspiciuni întemeiate (95% confidenţă)?

In [22]:
x = 55
p = 0.5 #presupunem ca moneda e fair
n = 100

pv = stats.binom_test(x=x, n=n, p=p, alternative='greater')

percentila = stats.norm.ppf(0.975)
i = p + np.array([-1,1]) * percentila * p/np.sqrt(n)
i = i * 100

print(f"R Q14. P-value: {round(pv, 6)}")
print(f"R Q14. intervalul de confidenta 95%: {i}")

R Q14. P-value: 0.184101
R Q14. intervalul de confidenta 95%: [40.20018008 59.79981992]